
Projects/Fraud/creditcard.csv
Projects/ClientRetention/churn.csv
Projects/ClientRetention/churn.csv
Projects/ClientRetention/churn.csv
Projects/CustomerClust/Mall_Customers.csv
Projects/CustomerClust_X/Mall_Customers.csv
Projects/CensusSalary_X/Census.csv
Projects/ClientRetention/churn.csv
Projects/CustomerClust/Mall_Customers.csv
Projects/HeightWeight/data.csv
Projects/HeightWeight/data.csv
*.csv
*.csv
